@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Fira Code', 'Noto Sans Tamil', monospace;
  background-color: #050505;
  color: #ffffff;
  overflow-x: hidden;
}
